<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.uniritter.tailine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AtleticoHFC">
        <activity android:name=".Perfil" />
        <activity android:name=".CadastrarMembro" />
        <activity android:name=".CadastroEventos" />
        <activity android:name=".Calendario" />
        <activity android:name=".TelaLogin" />
        <activity android:name=".TelaPrincipal" /> <!-- Activity TelaSplash é a inicial da aplicação -->
        <activity android:name=".TelaSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>